@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Permanent+Marker&display=swap');

/* Set background color and height to fill entire viewport */


/* Styling for Heading */
.title {
    font-size: 85px;
    text-align: center;
    font-family: 'Rubik Moonrocks', cursive;
    color: #e09f3e;
    padding-top: 20px;
}

/* Search input styling (Overriding some of the css framework)*/
.form {
    display: flex;
    padding-bottom: 20px;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* Set styling to search bar */
.button {
    display: flex;
    justify-content: center;
    height: 60px;
}

/* Set container styling for results */
.results {
    height: 500px;
    display: flex;
    justify-content: center;
}

/* Book results specific styling */

.bookResults {
    border: 3px solid #6c584c;
    background-color: #f2cc8f;
    margin-right: 20px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    position: relative;
    
}

/* Coffee results specific styling */
.coffeeResults {
    border: 3px solid #6c584c;
    background-color: #f2cc8f;
    margin-left: 20px;
    max-width: 450px;
    
}
.hide {
    display:none;
}
#map {
    position: relative;
    width: 443px;
    height: 457px;
}

h1, h2, p {
    text-align: center;
    font-size: 25px;
}

body {
    background-image: url('./images/AdobeStock_138596781.jpeg');
    background-position: center;
    background-size: cover;
    width: auto;
    height: 100%;
    position: absolute;
}

#bookBtn {
    background-color: hsl(171, 100%, 41%);
    position: absolute;
    bottom: 0;
    width: 444px;
}

#recommendations {
    font-size: 30px;
    font-family: 'Caveat', Arial, Helvetica, sans-serif
}

.textBook {
    font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.coffeeText {
    font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
    font-size: 25px;
}
