@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Rubik+Moonrocks&display=swap');

/* Set background color and height to fill entire viewport */
body, html{
    height: 100%;
    background-color: #fff3b0;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
/* Styling for Heading */
>>>>>>> ee2c0ba589f062678291e02fff0e09c2ee6ad7ed
=======

/* Styling for Heading */
>>>>>>> adf0e6288984269439f4969219d6b4106c93fe1f
.title {
    font-size: 85px;
    text-align: center;
    font-family: 'Rubik Moonrocks', cursive;
    color: #e09f3e;
    padding-top: 20px;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
/* Search input styling (Overriding some of the css framework)*/
>>>>>>> ee2c0ba589f062678291e02fff0e09c2ee6ad7ed
=======

/* Search input styling (Overriding some of the css framework)*/
>>>>>>> adf0e6288984269439f4969219d6b4106c93fe1f
.form {
    display: flex;
    padding-bottom: 75px;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
/* Set styling to search bar */
>>>>>>> ee2c0ba589f062678291e02fff0e09c2ee6ad7ed
=======
/* Set styling to search bar */
>>>>>>> adf0e6288984269439f4969219d6b4106c93fe1f
.button {
    display: flex;
    justify-content: center;
    height: 60px;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
/* Set container styling for results */
>>>>>>> ee2c0ba589f062678291e02fff0e09c2ee6ad7ed
=======
/* Set container styling for results */

>>>>>>> adf0e6288984269439f4969219d6b4106c93fe1f
.results {
    height: 500px;
    display: flex;
    justify-content: center;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
/* Book results specific styling */
>>>>>>> ee2c0ba589f062678291e02fff0e09c2ee6ad7ed
=======
/* Book results specific styling */

>>>>>>> adf0e6288984269439f4969219d6b4106c93fe1f
.bookResults {
    border: 3px solid #6c584c;
    background-color: #f2cc8f;
    margin-right: 20px;
    max-width: 450px;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
/* Coffee results specific styling */
>>>>>>> ee2c0ba589f062678291e02fff0e09c2ee6ad7ed
=======
/* Coffee results specific styling */

>>>>>>> adf0e6288984269439f4969219d6b4106c93fe1f
.coffeeResults {
    border: 3px solid #6c584c;
    background-color: #f2cc8f;
    margin-left: 20px;
    max-width: 450px;
}