body {
  background-color: rgb(236, 185, 136);
}
.title {
  margin: 20px;
  text-align: center;
}
.container {
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 1200px;
  height: 700px;
  background-color: rgb(255, 255, 255);
}
.hide {
  display: none;
}
#searchBtn {
  position: relative;
  top: 200px;
  width: 200px;
  height: 50px;
  left: 300px;
  transition: all 0.5s;
}
#searchBtn:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
#createBtn {
  position: relative;
  top: 200px;
  width: 200px;
  height: 50px;
  left:500px;
  transition: all 0.5s;
}
#createBtn:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.bookImgs {
  position: relative;
  left: 100px;
}
#placeholder1 {
  position: relative;
  margin: 20px;
  top: 120px;
  transition: all 0.5s;
}
#placeholder1:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
#placeholder2 {
  position: relative;
  top:120px;
  margin: 20px;
  transition: all 0.5s;
}
#placeholder2:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
#placeholder3 {
  position: relative;
  top:120px;
  margin: 20px;
  transition: all 0.5s;
}
#placeholder3:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
#placeholder4 {
  position: relative;
  top:120px;
  margin: 20px;
  transition: all 0.5s;
}
#placeholder4:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}